@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@layer base {
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 33px;
  }
  
  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 23px;
  }

  h6 {
    font-size: 20px;
  }

  a {
    color: blue;
  }

  input {
    background: var(--color-slate-100);
    border-radius: 2px;
    filter: drop-shadow(1px 1px 1px);
    padding: 0.5em;
  }

  button {
    border-radius: 2px;
    filter: drop-shadow(1px 1px 1px);
    background: var(--color-slate-100);
    padding: 5px;
  }
}
